
/* General Page Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: white; 
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 600px;
    background: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 15px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dcdde1;
    border-radius: 5px;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 12px;
    background-color: #44bd32;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #4cd137;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dcdde1;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #273c75;
    color: white;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

/* Links */
a {
    display: inline-block;
    margin-top: 20px;
    color: #192a56;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #40739e;
}
.welcome-text {
    font-size: 28px;
    color: #4e54c8;
    margin-bottom: 25px;
    text-align: center;
    background-color: #eef1ff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}
@font-face {
    font-family: 'OptiSouvenir-Bold';
    src: url('/static/fonts/OptiSouvenir-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h2 {
    font-family: 'OptiSouvenir-Bold', serif;
    text-align: center;
    color:  red;
    font-size: 30px;
}