<!DOCTYPE html>
<html>
<head>
    <title>Avanthi's St Theressa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        footer {
            text-align: center;
            margin-top: 50px;
            color: #7f8c8d;
            font-size: 17px;
        }
    </style>
</head>
<body>
    <header>
          <img src="https://sttheressaengg.ac.in/register/assets/stt.png" alt="College Logo" style="height: 140px;">
       
       
       
    </header>
    
    <div class="container">
        <form method="POST" action="/login" autocomplete="off">
            <!-- Hidden fields to confuse browser autofill -->
            <input type="text" name="fakeuser" style="display:none">
            <input type="password" name="fakepass" style="display:none">
        
            <label for="username">Username:</label>
            <input type="text" name="username" autocomplete="off" required><br>
        
            <label for="password">Password:</label>
            <input type="password" name="password" autocomplete="new-password" required><br>
        
            <input type="submit" value="Login">
        </form>
        
       
    </div>

    <footer style="text-align:center; margin-top: 20px; padding: 10px; color: #555;">
        &copy; 2025 <a href="https://aksolutions.cloud" target="_blank" rel="noopener noreferrer">aksolutions.cloud</a>
    </footer>
</body>
</html>










































































